<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="93.0.4577.1500" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net461" />
</packages>